@charset "utf-8";

@font-face {
  font-family: "nasalization-rg";
  src: url("/static/fonts/nasalization-rg.otf");
}

body {
  background-color: black !important;
  font-family: "nasalization-rg" !important;
}

.canv_container {
  margin: 50px 10%;
  padding: 3rem;
  position: relative;
  z-index: 1;
  font-family: "nasalization-rg" !important;
}

#canv {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "nasalization-rg" !important;
}